```csharp
         <configuration>
         ...
             <appSettings>
                 <add key="AMSAADTenantDomain" value="tenant"/>
                 <add key="AMSRESTAPIEndpoint" value="endpoint"/>
                 <add key="AMSClientId" value="id"/>
                 <add key="AMSClientSecret" value="secret"/>
             </appSettings>
         </configuration>
 ```